<div fxLayout="column" fxLayoutAlign="space-between center" *ngIf="afAuth.authState | async; let user; else showAuth">
  <h1 class="mat-typography">Hello {{ user.uid }}!</h1>
  <div *ngIf="showNavPanel" fxLayout="row" fxLayoutAlign="space-evenly">
    <button mat-raised-button color="primary" (click)="showTransactionsComponent=true; showUserRightsComponent=false">Transactions</button>
    <button *ngIf="showUserRightsButton" mat-raised-button color="primary" (click)="showUserRightsComponent=true; showTransactionsComponent=false">User Rights</button>
    <button mat-raised-button color="warn" (click)="logout()">Logout</button>
  </div>
  <p>User role: {{ userRole | async }}</p>
</div>

<!-- SignIn / SignUp buttons -->
<ng-template #showAuth>
  <div fxLayout="column" fxLayoutAlign="space-between center" *ngIf="showAuthTemplate">
      <label class="mat-typography">Existing User? </label>
      <button mat-raised-button color="primary" (click)="showSignInTemplate = true; showAuthTemplate = false">SignIn</button>
      <br><br>
      <label class="mat-typography">New User? </label>
      <button mat-raised-button color="accent" (click)="showSignUpTemplate = true; showAuthTemplate = false">SignUp</button>
  </div>
</ng-template>

<div *ngIf="showSignInTemplate" fxLayout="column" fxLayoutAlign="space-between center">
  <form class="container">
    <mat-form-field class="example-full-width">
      <input type="email" name="email" [(ngModel)]="email" matInput placeholder="Enter email">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input type="password" name="password" [(ngModel)]="password" matInput placeholder="Enter Password">
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="signin()">Login</button>
    <button mat-raised-button (click)="showSignInTemplate = false; showAuthTemplate = true">Cancel</button>
  </form>
</div>

<div #showSignUp *ngIf="showSignUpTemplate" fxLayout="space-between column" fxLayoutAlign="center">
  <form class="container">
    <mat-form-field class="example-full-width">
      <input type="text" name="name" [(ngModel)]="name" matInput placeholder="Enter Name">
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
      <input type="text" name="phone" [(ngModel)]="phone" matInput placeholder="Enter Phone">
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
      <input type="email" name="email" [(ngModel)]="email" matInput placeholder="Enter email">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input type="password" name="password" [(ngModel)]="password" matInput placeholder="Enter Password">
    </mat-form-field>
    <br>

    <mat-form-field>
      <mat-select placeholder="Select POC" [(ngModel)]="selectedPoc" name="pocs">
        <mat-option *ngFor="let poc of pocs" [value]="poc.value">
          {{poc.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <p> Selected POC: {{ selectedPoc }} </p>

    <button mat-raised-button (click)="signup()">Register</button>
    <button mat-raised-button (click)="showSignUpTemplate = false; showAuthTemplate = true">Cancel</button>
  </form>
</div>

<app-transactions *ngIf="showTransactionsComponent"></app-transactions>
<app-user-rights *ngIf="showUserRightsComponent"></app-user-rights>


