<mat-form-field>
  <mat-select placeholder="Select POC">
    <mat-option *ngFor="let poc of pocs" [value]="poc.value">
      {{ poc.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field> <br>
<div fxLayout="column" fxLayoutAlign="space-evenly">
  <button mat-raised-button color="primary" (click)="pmtbtnpressed()">Payments</button><br>
  <div *ngIf="pmtpressed" fxLayout="column" >
    <p>Payment Form Here!</p>
    <mat-form-field>
      <input matInput placeholder="Payment Made To-">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Amount-">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Comments-">
    </mat-form-field>
    <button mat-raised-button color="secondary" (click)="closeotherforms()">Submit</button><br>
    <button mat-raised-button color="secondary" (click)="closeotherforms()">Cancel</button><br>
  </div>
  <button mat-raised-button color="primary" (click)="recbtnpressed()">Receipts</button><br>
  <div *ngIf="recpressed" fxLayout="column" >
    <p>Rec Form Here!</p>
    <mat-form-field>
      <input matInput placeholder="Payment Received From-">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Amount-">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Comments-">
    </mat-form-field>
    <button mat-raised-button color="secondary" (click)="closeotherforms()">Submit</button><br>
    <button mat-raised-button color="secondary" (click)="closeotherforms()">Cancel</button><br>
    
  </div>
  <button mat-raised-button color="primary" (click)="admbtnpressed()">Advances Made</button><br>
  <div *ngIf="admpressed" fxLayout="column" >
    <p>Advances Made Form Here!</p>
    <mat-form-field>
      <input matInput placeholder="Advance Payment Made To-">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Amount-">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Comments-">
    </mat-form-field>
    <button mat-raised-button color="secondary" (click)="closeotherforms()">Submit</button><br>
    <button mat-raised-button color="secondary" (click)="closeotherforms()">Cancel</button><br>
  </div>
  <button mat-raised-button color="primary" (click)="adrbtnpressed()">Advances Received</button><br>
  <div *ngIf="adrpressed" fxLayout="column" >
    <p>Advances received Form Here!</p>
    <mat-form-field>
      <input matInput placeholder="Advance Payment Received From-">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Amount-">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Comments-">
    </mat-form-field>
    <button mat-raised-button color="secondary" (click)="closeotherforms()">Submit</button><br>
    <button mat-raised-button color="secondary" (click)="closeotherforms()">Cancel</button><br>
  </div>
  <button mat-raised-button color="primary" (click)="trsbtnpressed()">Transfers</button><br>
  <div *ngIf="trspressed" fxLayout="column" >
    <p>Transfers Form Here!</p>
    <mat-form-field>
      <mat-select placeholder="Transfer From">
        <mat-option *ngFor="let poc of pocs" [value]="poc.value">
          {{ poc.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Transfer To">
        <mat-option *ngFor="let poc of pocs" [value]="poc.value">
          {{ poc.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Amount:">
    </mat-form-field>
    <button mat-raised-button color="secondary" (click)="closeotherforms()">Submit</button><br>
    <button mat-raised-button color="secondary" (click)="closeotherforms()">Cancel</button><br>
  </div>
</div>

