
<div fxLayout="column" fxLayoutAlign="space-evenly">

  <mat-form-field>
    <mat-select placeholder="Select User" [(ngModel)]="selectedUser">
      <mat-option *ngFor="let user of users | async" [value]="user.uid">
        {{ user.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-select placeholder="Base POC" [(ngModel)]="basePOC">
      <mat-option *ngFor="let poc of allPOCS" [value]="poc" (click)="invalidatePOC(poc)">
        {{ poc }}
      </mat-option>
    </mat-select>
  </mat-form-field>  

  <p align="center">TRANASACTIONS ALLOWED</p>
  <mat-slide-toggle [(ngModel)]="stCR">Cash Receipts</mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="stCP">Cash Payments</mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="stAR">Advance Receipts</mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="stAP">Advance Payments</mat-slide-toggle><br>

  <mat-slide-toggle [checked]="stTR" (change)="stTRToggle()">Transfers</mat-slide-toggle>

  <mat-expansion-panel *ngIf="showTrPOCList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Transferee POCs
      </mat-panel-title>
      <mat-panel-description>
        Select POCs permitted for Transfers
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul *ngFor="let poc of pocs; let i = index" style="list-style: none;">
      <li>
        <mat-checkbox [checked]="selectedPOC[i]" (change)="clickedPOC(i)" >{{ poc }}</mat-checkbox>
      </li>
    </ul>
    <div fxLayout="row" fxLayoutAlign="space-around">
      <button mat-raised-button color="accent" (click)="selectAllPOCs()">Select all POCs</button><br>
      <button mat-raised-button color="warn" (click)="clearPOCList()">Clear selection</button>
    </div>
  </mat-expansion-panel>
    
  <br><mat-slide-toggle [(ngModel)]="stVTH" >View Transaction History</mat-slide-toggle><br>
    
  <button mat-raised-button (click)="updateRights()">Submit</button>
    
</div>
